all:
  hosts:
    router:
      ansible_host: 192.168.1.1
      ansible_python_interpreter: /usr/local/bin/python3.8
      ansible_become_method: su
    gitea:
      ansible_host: gitea.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    nextcloud:
      ansible_host: nextcloud.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    harbor:
      ansible_host: harbor.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    desktop:
      ansible_host: desktop.mydomain.com
      ansible_python_interpreter: /usr/bin/python3.8
    k8s-control-plane:
      ansible_host: k8s-control-plane.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    k8s-node-1:
      ansible_host: k8s-node-1.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    k8s-node-2:
      ansible_host: k8s-node-2.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    k8s-node-3:
      ansible_host: k8s-node-3.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    k8s-node-4:
      ansible_host: k8s-node-4.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    k8s-node-5:
      ansible_host: k8s-node-5.mydomain.com
      ansible_python_interpreter: /usr/bin/python2
    octopi:
      ansible_host: octopi.mydomain.com
      ansible_python_interpreter: /usr/bin/python3.7
  children:
    vms:
      hosts:
        gitea:
        nextcloud:
        harbor:
        desktop:
        k8s-control-plane:
        k8s-node-1:
        k8s-node-2:
        k8s-node-3:
        k8s-node-4:
        k8s-node-5:
    k8s:
      hosts:
        k8s-control-plane:
        k8s-node-1:
        k8s-node-2:
        k8s-node-3:
        k8s-node-4:
        k8s-node-5:
    k8s_nodes:
      hosts:
        k8s-node-1:
        k8s-node-2:
        k8s-node-3:
        k8s-node-4:
        k8s-node-5:
